* {
  box-sizing: border-box;
}

html, body {
  margin-top:-10px;
  min-height: 100%;
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 40px;
}

.stats-table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  font-size: 14px;
  font-weight: normal;
  overflow-wrap: break-word;
  padding: 8px;
}

td:first-child {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

tr:hover {
  background-color: #ddd;
}

.header {
  align-items: center;
  background-color: #2196f3;
  color: #fff;
  display: flex;
  font-size: 20px;
  height: 70px;
  justify-content: center;
  margin-top: 0;
  padding: 0;
  padding-top: 0;
  text-align: center;
}

.card {
  background-color: #bbdefb;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
  color: #212121;
  float: left;
  margin-bottom: 20px;
  margin-right: 20px;
  transition: .3s;
  width: 45%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
}

.container {
  padding: 8px 16px;
}

.container-grid {
  display: auto;
  padding: 8px 16px;
}

.lower {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row {
  min-height: 100%;
  min-width: 100%;
}

.ui-all {
  color: #fff;
  display: block;
  text-decoration: none;
}

.box {
  background-color: #ffffff;
  border-color: #bbdefb;
  border-style: double;
  border-width: medium;
  color: #212121;
  display: flex;
  flex-direction: column;
  float: left;
  font-size: 20px;
  font-weight: bold;
  min-height: 300px;
  overflow: auto;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.box.container {
  padding-top: 10px;
}

.column.container {
  padding-top: 10px;
}

.column {
  background-color: #ffffff;
  border-color: #bbdefb;
  border-style: double;
  border-width: medium;
  color: #212121;
  display: flex;
  flex: 1;
  flex-direction: column;
  float: left;
  font-size: 20px;
  font-weight: bold;
  min-height: 300px;
  padding: 10px;
  text-align: center;
  width: 50%;
}

.row:after {
  clear: both;
  content: '';
  display: table;
}

.footer {
  background-color: #b3e5fc;
  bottom: 0;
  left: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  position: fixed;
  text-align: center;
  width: 100%;
}

a:link {
  color: #FFFFFF;
  font-weight: bold;
  padding-top: 10px;
}

@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.button {
    background-color: #008CBA;
    border: none;
    color: white;
    display: inline-block;
    font-size: 16px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.form {
  float: left;
  padding-top: 10px;
}

label {
  font-weight: normal;
}

input[type=text], select {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    font-weight: normal;
    margin: 8px 0;
    padding: 12px 20px;
    width: 100%;
}

input[type=submit] {
    background-color: #008CBA;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    margin: 8px 0;
    padding: 14px 20px;
    width: 100%;
}

input[type=submit]:hover {
    background-color: #008CB0;
}

